.github
.idea
.mypy_cache
.pytest_cache
ADR
notebooks
tmp
docsrc
docs
spf_tests
tests
**/test/*
*.yml
*.md
metastore_db

.svn
.cvs
.hg
!README*.md

.env
spark-events

**/.git
**/.gitignore
**/.vscode
**/coverage
**/.env
**/.aws
**/.ssh
Dockerfile
**/.DS_Store
**/venv
**/env
