[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = ">=1.19.2"
logger = "*"
pyspark = ">=2.4.0"
sparkautomapper = ">=0.2.16"
pymysql="*"
furl="*"
requests = ">=2.25.1"

[dev-packages]
setuptools="*"
wheel="*"
twine="*"
pre-commit=">=2.12.1"
pygments=">=2.8.1" # not directly required, pinned by Snyk to avoid a vulnerability
autoflake=">=1.4"
flake8 = ">=3.8.4"
mypy = "==0.812"
pytest = ">=6.2.2"
black = ">=20.8b1"
Sphinx="==3.5.3"
sphinx-autoapi="==1.7.0"
sphinx-rtd-theme="==0.5.1"
recommonmark="==0.7.1"
pyspark="==3.1.1"  # should match the version of spark we use for testing

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
